<%= render("admin_magic/layout_share/header") %>


<div class="admin">
  <!--<div class="am-g">-->
  <!-- ========== Left Sidebar Start ========== -->
  <!--<div class="left side-menu am-hide-sm-only am-u-md-1 am-padding-0">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 548px;">
      <div class="sidebar-inner slimscrollleft" style="overflow: hidden; width: auto; height: 548px;">-->
  <%= render("admin_magic/layout_share/left_sidebar") %>

  <!--</div>
</div>
</div>-->
  <!-- ========== Left Sidebar end ========== -->



  <!--	<div class="am-g">-->
  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <div class="content-page">
    <div class="content">
      <div class="am-g">
        <!-- Row start -->
        <div class="am-u-sm-12">
          <div class="card-box">

            <h4 class="header-title m-t-0 m-b-30">编辑文章</h4>

            <div class="am-g">
              <div class="am-u-md-12">
                <%= form_with url:admin_magic_article_path, model: @article, html:{class:"am-form am-text-sm"} do |f| %>
                  <div class="am-form-group">
                    <div class="am-g">
                      <label class="am-u-md-1 am-md-text-right am-padding-left-0" for="doc-ipt-text-1">标题</label>
                      <input class="am-u-md-11 form-control" name="article[title]" value="<%= @article.try(:title) %>" id="doc-ipt-text-1" placeholder="输入标题" required>
                    </div>
                  </div>

                  <div class="am-form-group">
                    <div class="am-g">
                      <label class="am-u-md-1 am-md-text-right" for="doc-select-1">来源</label>
                      <select name="article[source_type]" id="doc-select-1" required>
                        <% Article::SourceTypes.each do |k,v| %>
                          <option value="<%= k %>" <%= @article.source_type == k ? "selected" : "" %>><%= v %></option>
                        <% end %>
                      </select>
                      <span class="am-form-caret"></span>
                    </div>
                  </div>

                  <div class="am-form-group">
                    <div class="am-g">
                      <label class="am-u-md-1 am-md-text-right" for="doc-select-2">类型</label>
                      <div class="am-u-md-11 am-padding-0">
                        <select multiple class="" name="article[type]" id="doc-select-2" required>
                          <% Article::Types.each do |k,v| %>
                            <option value="<%= k %>" <%= @article.type == k ? "selected" : "" %>><%= v %></option>
                          <% end %>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="am-form-group">
                    <div class="am-g">
                      <label class="am-u-md-1 am-md-text-right" for="doc-select-1">分类</label>
                      <select name="article[category_id]" id="doc-select-1" required>
                        <% Category.all.each do |cate| %>
                          <option value="<%= cate.id %>" <%= @article.category_id == cate.id ? "selected" : "" %>><%= cate.try(:name) %></option>
                        <% end %>
                      </select>
                      <span class="am-form-caret"></span>
                    </div>
                  </div>

                  <div class="am-form-group">
                    <label class="am-u-md-1 am-md-text-right">标签：</label>
                    <% Tag.all.each do |tag| %>
                      <label class="am-checkbox-inline">
                        <input type="checkbox" value="<%= tag.id %>" name="tag_ids[]" <%= @article.tags.ids.include?(tag.id)? "checked" : "" %>> <%= tag.try(:name) %>
                      </label>
                    <% end%>
                  </div>

                  <div class="am-form-group">
                    <div class="am-g">
                      <label class="am-u-md-1 am-md-text-right am-padding-left-0" for="doc-ta-1">内容</label>
                      <div class="" id="test-editormd">
                          <textarea style="display:none;" name="article[content]"><%= @article.try(:content).html_safe %></textarea>
                      </div>
                    </div>
                  </div>
                  <button class="am-btn am-btn-secondary" type="submit">提交</button>
                  <button class="am-btn am-btn-default" type="button">取消</button>
                <% end %>
              </div>

            </div>


          </div>
        </div>
        <!-- Row end -->
      </div>



    </div>


  </div>
</div>
<!-- end right Content here -->
<!--</div>-->
</div>
</div>


<a href="admin-offcanvas" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"><!--<i class="fa fa-bars" aria-hidden="true"></i>--></a>
<% content_for :extro_scripts do %>
<script type="text/javascript">
    var testEditor;

    $(function() {
        testEditor = editormd("test-editormd", {
            width   : "91.6%",
            height  : 640,
            syncScrolling : "single",
            path    : "../../lib/"
        });

        /*
        // or
        testEditor = editormd({
            id      : "test-editormd",
            width   : "90%",
            height  : 640,
            path    : "../lib/"
        });
        */
    });
</script>
<% end %>