<div class="sidebar">
  <div class="widget widget_hot">
    <h3>最新文章</h3>
    <ul>
      <% unless @new_articles.blank? %>
        <% @new_articles.each do |art| %>
          <li>
            <a title="" href="#">
              <span class="text"><%= art.title %></span>
              <span class="muted">
                        <i class="glyphicon glyphicon-time"></i>
                        <%= art.create_time.strftime("%Y-%m-%d") %>
                    </span>
              <span class="muted">
                        <i class="glyphicon glyphicon-eye-open"></i> 0
                    </span>
            </a>
          </li>
        <% end %>
      <% else %>
      <% end %>

    </ul>
  </div>
  <div class="widget widget_category">
    <h3>文章分类</h3>
    <ul>
      <% @categories.each do |cate| %>
        <li><a href="#"><span class="text"> <%=cate.try(:name) %></span><span class="count" style="margin-left: 150px"><%= cate.articles.is_show_home.size %>篇</span></a></li>
      <% end %>
    </ul>
  </div>
  <div class="widget">
    <h3>归档</h3>
<!--    <ul>-->
<!--      <li><a><span class="text"><i class="glyphicon glyphicon-play-circle"></i> 2018年3月</span></a></li>-->
<!--      <li><a><span class="text"><i class="glyphicon glyphicon-play-circle"></i> 2018年3月</span></a></li>-->
<!--      <li><a><span class="text"><i class="glyphicon glyphicon-play-circle"></i> 2018年3月</span></a></li>-->
<!--    </ul>-->
  </div>
  <div class="widget widget_sentence">
    <h3>标签云</h3>
    <ul>
      <% @tags.each do |tag| %>
        <li><a href="#"><%= tag.try(:name) %> <span class="badge"><%= tag.articles.is_show_home.size %></span></a></li>
      <% end %>
    </ul>
  </div>
</div>